<a href="https://colab.research.google.com/github/AmeyVanjare/Advance-Analytics/blob/main/Avocado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Avocado Dataset

1. Find the date when maximum total volume transaction is done

2. Find the total of bags including both conventional and organic types, for every day and every region ( Hint: use group by)

3. Find the region where maximum total volume of organic avocado were sold in year 2016

In [35]:
import pandas as pd
import datetime

In [ ]:
df=pd.read_csv('/content/avocado.csv',index_col=0)
df.head()

In [ ]:
df.loc[df['Total Volume']==df.max()['Total Volume'],['Date','Total Volume']]

In [ ]:
dfgroup=df.groupby(['Date','region'])['Small Bags','Large Bags','XLarge Bags','Total Bags']
dfgroup.first()

In [ ]:
df['Date']=df['Date'].apply(pd.to_datetime,format='%Y-%m-%d')
df['year']=(df['Date']).dt.year
df.head()

In [ ]:
df['type'].unique()

In [70]:
df1=df.loc[(df['year']==2016) & (df['type']=='organic')]
df1=df1.loc[df1['Total Volume']==df1.max()['Total Volume'],['region','Total Volume']]
df1.head()

         Date  AveragePrice  Total Volume  ...     type  year   region
35 2016-04-24          1.25    1475457.53  ...  organic  2016  TotalUS

[1 rows x 13 columns]